<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>라운딩을 계획하세요!</title>
</head>
<body>
    <div class="header">
        <h2>Plan Your Rounding!</h2>
    </div>
    <div class="course_info">
        <div class="cc_info">
            <p><strong>오션힐스포항CC<strong>: 경상북도 포항시 북구 송라면 대전길 7</p>
        </div>
        <div class="course_info">
            <table  border ="1">
                <thead>
                    <th colspan="10">OCEAN 코스</th>
                </thead>
                <tbody>
                    <tr>
                        <th>Hole</th>
                        <td>1st</td>
                        <td>2nd</td>
                        <td>3rd</td>
                        <td>4th</td>
                        <td>5th</td>
                        <td>6th</td>
                        <td>7th</td>
                        <td>8th</td>
                        <td>9th</td>
                    </tr>
                    <tr>
                        <th>Par</th>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <th>Black</th>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                    </tr>
                    <tr>
                        <th>Champion</th>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                    </tr>
                    <tr>
                        <th>Front</th>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                    </tr>
                    <tr>
                        <th>Gold</th>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                    </tr>
                    <tr>
                        <th>Lady</th>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                        <td>100m</td>
                    </tr>
                    <tr>
                        <th>Hole Map</th>
                        <td><a href="./planDetail.html">view</a></td>
                        <td><a href="#">view</a></td>
                        <td><a href="#">view</a></td>
                        <td><a href="#">view</a></td>
                        <td><a href="#">view</a></td>
                        <td><a href="#">view</a></td>
                        <td><a href="#">view</a></td>
                        <td><a href="#">view</a></td>
                        <td><a href="#">view</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="plan_rounding">
            <table border="1">
                <thead>
<!--                    <th colspan="10">Your Plan</th>-->
                </thead>
                <tbody>
                    <tr>
                        <th>Tee-shot</th>
                        <td>Straight</td>
                        <td>OB</td>
                        <td>slice</td>
                        <td>slice</td>
                        <td>slice</td>
                        <td>slice</td>
                        <td>slice</td>
                        <td>slice</td>
                        <td>slice</td>
                    </tr>
                    <tr>
                        <th>On GREEN</th>
                        <td>4</td>
                        <td>3</td>
                        <td>2</td>
                        <td>5</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>3</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th>Putting</th>
                        <td>2</td>
                        <td>3</td>
                        <td>2</td>
                        <td>1</td>
                        <td>3</td>
                        <td>2</td>
                        <td>3</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th>Score</th>
                        <td>6</td>
                        <td>6</td>
                        <td>4</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                        <td>8</td>
                        <td>5</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <th>Score(Over)</th>
                        <td>2</td>
                        <td>2</td>
                        <td>3</td>
                        <td>2</td>
                        <td>1</td>
                        <td>3</td>
                        <td>2</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <button>Save Your Plan!</button>
    </div>
</body>
</html>