<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan Detail</title>
    <style>
        .wrap {
            background-color: beige;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .hole_view {
            background-color: #7cb342;

        }

        .detail_plan {
            background-color: cornsilk;
        }
    </style>

</head>
<body>
<div class="wrap">
    <div class = "hole_view">
        <img src="http://t.gzcdn.net/D67x104/o.gzcdn.net/images/cc/yardage/entire/yardage_entire_830_01_01.jpg">
    </div>
    <div class ="detail_plan">
        <table border ='1'>
            <thead>
                <th>
                    shot#
                </th>
                <th>
                    사용클럽
                </th>
                <th>
                    Distance
                </th>
                <th>
                    Memo
                </th>

            </thead>
            <tbody>
                <tr>
                    <td>1st Shot</td>
                    <td>Driver</td>
                    <td>200m</td>
                    <td>헤저드 주의</td>
                </tr>
                <tr>
                    <td>2st Shot</td>
                    <td>P/W</td>
                    <td>100m</td>
                    <td>오른쪽 벙커 주의</td>
                </tr>
                <tr>
                    <td>putting</td>
                    <td>그린스피드 주의 </td>
                    <td>2</td>
                    <td>그린스피드 주의 </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>