<!DOCTYPE html>
<html lang="kor">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <title>Plan Your Rounding!</title>

    <script>
        function getCC(){
            let ccName = $("#ccName").val();
            $.ajax({
                url:"/plan",
                type: "GET",
                data: {ccName: ccName},
                success: function(response) {//성공하면
                        if (response["result"] == "success") {
                            alert("포스팅 성공!");
                            // 3. 성공 시 페이지 새로고침하기
                            window.location.reload();
                          } else {
                            alert("서버 오류!")
                        }
            })
        })
    </script>
</head>
<body>
    <div id="search" class="tab_content">
        <label for="searchCC">골프장:</label>
        <input type="text" name="ccName" id="ccName" placeholder="골프장 이름을 입력해주세요">
        <button id="search-CC" onclick="getCC()">검색</button>
    </div>
    <div id="courseList">

    </div>
    <div id="hole_info">

    </div>
    <div id="roundingPlan">

    </div>




</body>
</html>