<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>CC를 고르세요!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $("#search_result_row").empty();
        });

       function search_by_ccName() {
           let ccName = $("#search_ccName").val();
            $.ajax({
                type: "GET",
                url: "/search?ccName_sent=" + ccName,
                data: {},
                success: function(response) {
                    if (response["result"] == "success") {
                        let ccs = response["ccs"];
                        $("#search_result_row").empty();
                        for (let i = 0; i < ccs.length; i++) {
                            makeCCList(ccs[i]["ccName"],
                                ccs[i]["location"],
                                ccs[i]["ccAddress"],
                                ccs[i]["noOfHoles"],
                                ccs[i]["ccURL"],
                                ccs[i]["courseInfo"]
                            )
                        }
                    }
                }
            })
        }

       function search_by_location(event) {
           let location = event.target.value;
            $.ajax({
                type: "GET",
                url: "/search?location_sent=" + location,
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let ccs = response["ccs"];
                        $("#search_result_row").empty();
                        for (let i = 0; i < ccs.length; i++) {
                            makeCCList(ccs[i]["ccName"],
                                ccs[i]["location"],
                                ccs[i]["ccAddress"],
                                ccs[i]["noOfHoles"],
                                ccs[i]["ccURL"],
                                ccs[i]["courseInfo"]
                            )
                        }
                    }
                }
            })
        }

       function makeCCList(ccName,location,ccAddress,noOfHoles,ccURL) {
           let tempHtml = `
                    <tr>
                        <td>${ccName}</td>
                        <td>${location}</td>
                        <td>${ccAddress}</td>
                        <td>${noOfHoles}</td>
                        <td><a>${ccURL}</a></td>
                        <td><button>코스보기</button></td>
                    </tr>
                    ` ;
           $("#search_result_row").append(tempHtml);
       }
    </script>

</head>
<body>
    <div class = 'search_cc_box'>
        <p>무슨 골프장으로 가시나요?  </p>
        <input id = "search_ccName" type="text" placeholder = 'CC이름을 입력하세요'>
        <button onclick="search_by_ccName()">검색</button>
    </div>
    <div class="select_by_location">
        <p> 지역으로 검색할 수도 있어요!</p>
            <input  type="radio"
                    name="location"
                    value="수도권"
                    id="area_1"
                    onclick="search_by_location(event)"/>
            <label for="area_1">수도권</label>
            <input  type="radio"
                    name="location"
                    value="강원도"
                    id="area_2"
                    onclick="search_by_location(event)"/>
            <label for="area_2">강원도</label>
            <input  type="radio"
                    name="location"
                    value="충청도"
                    id="area_3"
                    onclick="search_by_location(event)"/>
            <label for="area_3">충청도</label>
            <input  type="radio"
                    name="location"
                    value="전라도"
                    id="area_4"
                    onclick="search_by_location(event)"/>
            <label for="area_4">전라도</label>
            <input  type="radio"
                    name="location"
                    value="경상도"
                    id="area_5"
                    onclick="search_by_location(event)"/>
            <label for="area_5">경상도</label>
            <input  type="radio"
                    name="location"
                    value="6"
                    id="area_6"
                    onclick="search_by_location(event)"/>
            <label for="area_6">제주도</label>
    </div>

    <div class = 'search_result'>
        <div class="search_result_header">
            <h4>검색결과</h4>
        </div>
            <div class="result_table">
                <table border= 1, align="center">
                    <thead align="center" >
                        <th>골프장</th>
                        <th>지역</th>
                        <th>주소</th>
                        <th>홀수</th>
                        <th>홈페이지</th>
                        <th></th>
                    </thead>
                    <tbody id="search_result_row">
                        <tr>
                            <td>오션힐스포항CC</td>
                            <td>경상도</td>
                            <td>경상북도 포항시 북구 송라면 대전길 7</td>
                            <td>18홀</td>
                            <td><a>https://www.oceanhills.com/</a></td>
                            <td><button>코스보기</button></td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <div clas="select_course">
                                    <input name="course1" type="checkbox">
                                    <label for="course1">OCEAN</label>
                                    <input name="course2" type="checkbox">
                                    <label for="course2">PINE</label>
                                    <button>라운딩 계획짜기</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</body>
</html>